<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestor_versiones?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="ec/fe/gv/modelo/Perfil.hbm.xml"/>
    <mapping resource="ec/fe/gv/modelo/Aplicacion.hbm.xml"/>
    <mapping resource="ec/fe/gv/modelo/ArchivoConfiguracion.hbm.xml"/>
    <mapping resource="ec/fe/gv/modelo/Usuario.hbm.xml"/>
    <mapping resource="ec/fe/gv/modelo/NovedadActualizacionApp.hbm.xml"/>
    <mapping resource="ec/fe/gv/modelo/UsuarioTieneAplicacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
